
/* // MAIN COLORS // */
:root {
  --color-white: #ffffff;
  --color-feather: #77c9d4;
  --color-pink: #F6EBFC;
  --color-powder: #e0e6f3;
  --color-black: #404040;
  --color-darkgrey: #6b6b6b;
  --color-halftone: #7f7f7f;
  --color-grey: #bfbfbf;
  --color-electric: #c7dfc5;
  --color-electric-hover: #d8e9d7;
  --blog-width: 420px;
}

.black { color:var(--color-black); }
.halftone { color:var(--color-halftone) }
.grey { color:var(--color-grey) }
.italic { font-style: italic; }

/* no touch, no highlight
/* -webkit-touch-callout: none; /* iOS Safari */
/* -webkit-user-select: none; /* Safari */
/* -khtml-user-select: none; /* Konqueror HTML */
/*   -moz-user-select: none; /* Firefox */
/*    -ms-user-select: none; /* Internet Explorer/Edge */
/*       user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */

html{
  position:static!important;
  top:0!important;
  box-sizing:border-box;
  overflow-x:hidden;
  overflow-y:auto;
}
/*
body{
  overflow:hidden;
}
*/
body,div,ul,li{
  margin:0;
  border:0;
  padding:0;
  list-style:none;
  color: var(--color-pink);
  -webkit-font-smoothing: antialiased!important;
}

*{ box-sizing: inherit; }

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:300,300i,400,400i,500,500i,600,700,800&display=swap');

/* Logo and Research Entry Titles */
h1 {
  display: inline-block;
  font-family:'EB Garamond', serif;
  font-weight:300;
  letter-spacing:0.12rem;
  font-size: 2.5rem;
  line-height: 2.2rem;
  color:var(--color-black);
  cursor:pointer;
  margin: auto 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Selection */
h2 {
  font-family:'Cormorant Garamond', serif;
  font-weight:300;
  letter-spacing:0.06rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color:var(--color-black);
  cursor:pointer;
  margin: auto 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h2:not(.italic):hover{
  font-weight: 600;
}
h2.italic:hover{
  font-weight: 500;
}
h2.bold{
  font-weight: 600;
}


/* Body Text */
h3 {
  font-family:'EB Garamond', serif;
  font-weight: 400;
  letter-spacing:0.012rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color:var(--color-darkgrey);
  margin: auto 0;
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h3.link:hover {
  color:var(--color-powder);
}

h4 {
  font-family:Montserrat;
  font-weight:300;
  letter-spacing:0.10rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color:var(--color-darkgrey);
  cursor:default;
  margin: auto 0;
}

h4.click:hover {
  font-weight:400;
}

h5 {
  font-family:Montserrat;
  font-weight:300;
  letter-spacing:0.025rem;
  font-size: .9rem;
  line-height: 1.5rem;
  color:var(--color-black);
  cursor:default;
  margin: auto 0;
}

h5.link{
  cursor:pointer;
}

h6 {
  display: inline-block;
  font-family:Abel;
  font-weight:400;
  letter-spacing:.15rem;
  font-size: 1.2rem;
  line-height: 1rem;
  color:var(--color-darkgrey);
  margin: auto 0;
}

h2.bold{
  font-weight: 600;
}

h3.bold{
  font-weight: 600;
}

h6:hover{
  color:var(--color-powder);
}

h6.bold{
  font-weight: 600;
}

p,a {
  text-decoration: none;
}

a {
  color:var(--color-darkgrey);
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color:var(--color-powder);
}

/*
a:visited {
  color:var(--color-black);
}
*/

q {
  font-family:'EB Garamond', serif;
  font-size: 1.38rem;
  font-style: italic;
  color:var(--color-darkgrey);
}

p.tab{
  margin-block-start:0;
  margin-block-end:0;
  font-family:'EB Garamond', serif;
  font-weight: 300;
  letter-spacing:0.05rem;
  font-size: 1.41rem;
  font-style: italic;
  line-height: 2.4rem;
  margin-left:60px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: smaller;
}

/*
// ANIMATION AND SELECTION //
*/

/* loads and reloads after loading. lame! */
.quick-appear {
  /*
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .1s;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  */
}

.appear {
  /*
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .25s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  */
}

.slow-appear {
  /*
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .35s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


::selection {
  background: var(--color-powder); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--color-powder); /* Gecko Browsers */
}
.select {
  -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto; /* Safari */
     -khtml-user-select: auto; /* Konqueror HTML */
       -moz-user-select: auto; /* Firefox */
        -ms-user-select: auto; /* Internet Explorer/Edge */
            user-select: auto; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.click {
  cursor:pointer;
}
h2.click:hover {
  font-weight:500;
}

/*
// MAIN LAYOUT//
*/

section {
  position:relative;
  width:100%;
  height:100%;
}

.container {
  position:absolute;
  width:100%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}
/* 120px */
.nav-top {
  width:100%;
  margin:30px 0px 0px 0px;
  z-index:200;
}

.table {
  display:table;
  width:100%;
  height:100%;
}

.essay {
  display: table;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: table;
  height: 100%;
  width: 300px;
}

/*
// PRODUCTION //
*/

.grid-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.image-container {
  background-repeat:no-repeat;
  height: 600px;
  width:100%;
}

.logo {
  margin: 0 auto;
  height: 45px;
}

.center-fit {
  width:100%;
  height:600px;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-container{
  padding-top: 2rem;
  padding-right: 2rem;
}

.thumbnail{
  cursor: pointer;
  height: 180px;
  width: 180px;
  z-index: 300;
}

.thumb-container{
  padding-right: 27px;
  padding-bottom: 23px;
}

.thumbnail:hover{
  border: solid;
  border-width:1px;
  border-color:var(--color-powder);
}

.pad-select {
  padding-left: 12px;
}

/*
VIEWER SLIDE
*/

.white-break{
  padding-top:27px;
  background:var(--color-white);
  padding-bottom:345px;
}

.hidden-viewer{
  height: 0;
  max-height:0%;
  transition:0.4s;
  overflow: hidden;
  transition-timing-function: ease-in-out;
}

.active-viewer{
  max-height:100%;
  transition:0.8s;
  transition-timing-function: ease-in-out;
}

/* 
MEDIA 
*/

/*
// MOBILE NAVIGATION //
*/

.hamburger {
  position: absolute;
  stroke: var(--color-halftone);
  top:180px;
  display: none;
}

.nav-mobile {
  background: var(--color-powder); 
  position: fixed; 
  width: 100%; 
  height: 100%;
  top:0; 
  left: -9999px; 
  z-index: 1;
}

.exit-shape{
  top:180px;
  position: absolute;
  stroke:var(--color-darkgrey);
  opacity: 1;
  cursor:pointer;
}

.exit-viewer{
  top:1px;
  position: relative;
  stroke:var(--color-darkgrey);
  opacity: 1;
  cursor:pointer;
}

.exit-shape:hover{
  stroke:var(--color-black);
}
.list-select {
  margin-top: 8px;
  margin-left: 30px;
}

/*
NAV
*/

@media only screen and (max-width:1024px) {
  html,body {
    overscroll-behavior-y: contain;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  #nav {
    display: none;
  }
  .nav-mobile.open{
    background: var(--color-powder); 
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0; 
    z-index: 1;
  }
  .nav-mobile.closed{
    left: -9999px; 
  }
  .mobile-container{
    display:table;
    table-layout:fixed;
    position:absolute;
    width:100%;
    height:100%;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/*
// FLEX & MEDIA //
*/

.flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:row wrap;
  flex-wrap:row wrap;
  justify-content:flex-start;
  overflow:hidden;
}

.flex-right{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:row wrap;
  flex-wrap:row wrap;
  justify-content:flex-end;
  overflow:hidden;
}

.flex-grid{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  overflow:auto;
}

.flex-column{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;

  flex-direction:column;
}

.flex-center{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content:center
}

.center-margin{
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:1920px) {
  .container{
    padding-left: 14%;
    padding-right: 14%;
  }
}

@media only screen and (max-width:1600px) {
  .container{
    padding-left: 9%;
    padding-right: 9%;
  }
}

@media only screen and (max-width:1280px) {
  .container{
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media only screen and (max-width:1024px) {
  .nav-top {
    margin:60px 0px 0px 0px;
  }
  .hamburger {
    top:60px;
  }
  .exit-shape{
    top:67px;
  }
  .flex-column.triple-break {
    margin-top:60px;
  }
  .container{
    padding-left: 8%;
    padding-right: 8%;
  }
  .sidebar{
    display: none;
  }
  .hamburger, .exit-shape {
    right: 8%;
  }
  .pad-select {
    padding-top: 3px;
    padding-right: 12px;
    padding-left: 0px;
  }
  .flex.table {
    flex-direction:column;
  }
  .blank {
    display: block;
  }
  div>.col-3-12{
    width: 75%;
  }
  div>.col-2-12{
    width: 75%;
  }
  div>.col-8-12{
    width: 100%;
  }
  div>.col-9-12{
    width: 100%;
  }
  div>.col-1-12{
    width: 0%;
  }
  div>.right{
    text-align:left!important;
  }
  div>.clear-divider{
    text-align:left!important;
  }
  .mobile-break{
    margin-top: 60px;
  }
  div>.mobile-destroy{
    display: none;
    margin:0;
    height:0;
  }
  div.center-fit{
    display: block;
    width: 100%;
    max-height: 400px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (max-width:780px) {
  .thumbnail{
    height: 100%;
    width: 100%;
  }
  div.image-container{
    position: relative;
    width: 100%;
    /*height: 400px;*/
  }
  div.right-arrow{
    position: absolute;
    display: block;
    right:0px;
    height: 400px;
    width: 40px;
    z-index: 300;
    cursor:pointer;
  }
  div.left-arrow{
    position: absolute;
    display: block;
    top: 18px;
    left:8px;
    height: 400px;
    width: 40px;
    z-index: 300;
    cursor:pointer;
  }
  div.center-fit{
    max-height: 300px;
  }
  .nav-top {
    margin:45px 0px 0px 0px;
  }
  .hamburger {
    top:45px;
  }
  .exit-shape{
    top:52px;
  }
  .flex-column.triple-break {
    margin-top:45px;
  }
  div>.grid-break{
    margin-top:30px;
  }
  div>.mobile-break{
    margin-top: 30px;
  }
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .hamburger {
    right: 6%;
  }
  .mobile-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  h1{
    letter-spacing:0.06rem;
    font-size: 1.75rem;
    line-height: 1.3rem;
  }
  h2{
    letter-spacing:0.03rem;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  h3{
    letter-spacing:0.05rem;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  h4{
    letter-spacing:0.06rem;
    font-size: .8rem;
    line-height: 1.4rem;
  }
  h5{
    font-size: .75rem;
    line-height: 1.4rem;
  }
  h6{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  q{
    letter-spacing:0.04rem;
    font-size: .95rem;
    line-height: 1.6rem;
  }
  p.tab{
    letter-spacing:0.05rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-left:60px;
  }
}

@media only screen and (max-width:600px) {
  /*
  .thumbnail{
    height: 100%;
    width: 100%;
  }
  */
  
  .thumb-container{
    padding-right: 23px;
    padding-bottom: 18px;
  }

  div.center-fit{
    max-height: 260px;
  }
}

@media only screen and (max-width:412px) {
  /*
  .thumbnail{
    height: 152px;
    width: 152px;
  }
  */
}

@media only screen and (max-width:375px) {
  /*
  .thumbnail{
    height: 144px;
    width: 144px;
  }
  */
}


@media only screen and (max-width:374px) {
  .thumbnail{
    cursor: pointer;
    /*height: 124px;*/
    /*width: 124px;*/
    z-index: 300;
  }

  .thumb-container{
    padding-right: 17px;
    padding-bottom: 13px;
  }
}

/*
// POSITIONAL DUDES
*/

.bottom-break {
  height: 300px;
  width: 100%;
  bottom: 0;
}

.triple-break {
  height: 180px;
  padding-top:180px;
}

.grid-break {
  opacity:1;
  margin-top:60px;
}

.half-break {
  margin-top:30px;
}

.divider {
  margin-top:16px;
  margin-bottom:16px;
  height:1px;
  background:var(--color-powder);
}

.gap {
  margin-top:9px;
}

.top{
  vertical-align:top!important;
}
.left{
  text-align:left!important;
}
.right{
  text-align:right!important;
}
.center{
  text-align:center!important;
}
.middle{
  vertical-align:middle!important;
}
.bottom{
  vertical-align:bottom!important;
}
.block{
  display:block!important
}

.col-1-12{
    width:8.33333%
}
.col-2-12{
    width:16.66667%
}
.col-3-12{
    width:25%
}
.col-4-12{
    width:33.33333%
}
.col-5-12{
    width:41.66667%
}
.col-6-12{
    width:50%
}
.col-7-12{
    width:58.33333%
}
.col-8-12{
    width:66.66667%
}
.col-9-12{
    width:75%
}
.col-10-12{
    width:83.33333%
}
.col-11-12{
    width:91.66667%
}
.col-12-12{
    width:100%
}

/*
animation-delay: .1s;
animation-duration: .3s;

animation-delay: .25s;
animation-duration: .5s;

animation-delay: .35s;
animation-duration: .6s;
*/

.appear-0 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .2s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-1 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .25s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .3s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-3 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .35s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-4 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .4s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-5 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .45s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-6 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .5s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-7 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .55s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-8 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .6s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-9 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .65s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-10 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .7s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-11 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .75s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-12 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .8s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-13 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .85s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-14 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .9s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-15 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: .95s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.appear-16 {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/*

.right-arrow{
  position: absolute;
}

.left-arrow{
  position: absolute;
}

  div>.divider{
    background: transparent;
  }

.slider {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  position: relative;
  height: 700px;
  width: 100%;
  cursor: grab;
}

.clear-divider {
  margin-top:16px;
  margin-bottom:16px;
  height:1px;
  background:transparent;
}

.thumb-divider {
  margin-top:30px;
  margin-bottom:30px;
  height:1px;
  background:var(--color-grey);
}

.thumb-divider-clear {
  margin-top:30px;
  margin-bottom:30px;
}

.sidebar{
  height: 800px;
}
*/

